.center-text {
    text-align: center;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 20px;
    position: fixed;
    top: 0px;
    width: 95%;
    z-index: 100;
    flex-wrap: nowrap;
}
.navbar a{
    
}
.navbar h1{
    color: white;
    font-size: calmp(18px, 2vw, 20px);
    white-space: nowrap;
    margin: 0;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    
}
.nav-buttons a{
    background-color: #444;
    color: white;
    text-decoration: none;
    font-size: clamp(14px, 1.5vw, 18px);
    white-space: nowrap;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5px;
    transition: background-color 0.3s;
}
.nav-buttons a:hover{
    color: black;
    background-color: #04AA6D;
    font-weight: bold;
}
.content{
    margin-top: 85px;
}
